body {
    font-family: Arial;
    background: #172A46;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
}

.profile {
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile img {
    width: 240px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

h1 {
    font-size: 34px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-top: 30px;
}

p {
    line-height: 1.6;
}

.info {
    display: flex;
    gap: 40px;
}

.achievements,
.skills {
    width: 50%;
}

.contacts a {
    background: #172A46;
    color: white;
    padding: 8px 18px;
    margin-right: 10px;
    border-radius: 6px;
    text-decoration: none;
}
